<div class="row">
  <div class="col-sm-8 span6">
    <i><%= comment.commenter %></i><br/>
    <%= comment.body %>
  </div>
  <% if current_user == @article.user %>
  <div class="span1">
  <%= link_to t('comment.button.delete'), [comment.article, comment],
              method: :delete, data: { confirm:  t('comment.label.delete_confirmation') },
              role: "button", class: "btn btn-xs btn-default" %>
  </div>
  <% end %>
</div>
<br/>