<div class="row">

  <div class="col-sm-6">
    <a href="#"><%= comment.commenter %></a><br>
    <%= comment.body %>
  </div>

  <div>
  <%= link_to 'Delete comment', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' }, role: "button", class: "btn btn-xs btn-default" %>
  </div>
  <br>
</div>