<div class="row">

  <div class="col-sm-6">
    <a href="#"><%= comment.commenter %></a><br>
    <%= comment.body %>
  </div>

  <div>
  <%= link_to t('comment.button.delete'), [comment.article, comment],
              method: :delete,
              data: { confirm:  t('comment.label.delete_confirmation') }, role: "button", class: "btn btn-xs btn-default" %>
  </div>
  <br>
</div>