
<div class="jumbotron">
  <h1>Hello, Rails!</h1>
  <p>This is a simple blog that was created greeting to Getting Started Rails guide. It gives any user an ability to create simple note. Then everybody can comment this note.</p>
  <p><%= link_to 'Show Blog', { controller: 'articles' }, role: "button", class: "btn btn-primary btn-lg" %></p>
</div>