
<div class="jumbotron">
  <h1><%= t(:hello) %></h1>
  <p><%= t(:salutation) %></p>
  <p><%= link_to t(:show_blog), { controller: 'articles' }, role: "button", class: "btn btn-primary btn-lg" %></p>
</div>